@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/*--------------------------------------------HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
header {
    margin-bottom: 120px;
}

.headerbarra {
    background-color: black;
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 95px;
    justify-content: space-between;
    align-items: center;
    padding-right: 30%;
}

.headerlogo {
    top: 5px;
    position: fixed;
    zoom: 0.214;
    left: 20%;
}

#headerprodutos {
    font-family: 'Raleway';
    color: white;
}

.headerprodutos {
    align-items: center;
        }
        ul{
            width: 150px;
            /*margin: 0 auto;  Para centralizar na página */
            margin-left: auto;
            list-style: none;    
        }
        ul li{
            background-color: black;
        }
        ul li a{
            display: block; /* Renderiza o elemento HTML como bloco, tal como os parágrafos e os cabeçalhos o são */
            padding: 10px;
            text-decoration: none;
            color: white;
            font-size: xx-large;
        }
        ul li:hover > a{ /* Quando passarmos o mouse sobre a LI colocamos estilo no A */
            border-radius: 12px;
            color: white;
        }

        ul li ul{
            display: none;
            position: absolute;
        }

        ul li:hover ul{ /* Quando passar o mouse sobre a LI aparecerá o menu filho */
            width: 180px; /* Tamanho do menu filho */
            display: block; 
        }
        ul li ul li{
            width: 180px;
            cursor: pointer;
        }
        ul li ul li a{
            font-size: large;
            text-align: center;
            font-family: 'Raleway';
        }
        ul li ul li:hover > a{
            background-color: #04a243;
            border-radius: 12px;
            color: #FFFFFF;
            font-size: larger;
        }
        ul li ul li ul li{
            display: none;
        }

        ul li ul li ul{
            top: 0; /* Para deixar o sub-menu na mesma linha do menu pai */
        }
        ul li ul li:hover ul li{
            display: block;
            width: 130px;
            left: 77.8%; /* Para deixar o sub-menu ao lado do menu pai */
        }

#headertenis {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.headersobre {
    width: 150px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-size: xx-large;
    text-align: center;
}

.headersobre a {
    text-decoration: none;
    color: #FFFFFF;
}

.headersobre :hover {
    cursor: pointer;
}

.headersuporte {
    font-family: 'Raleway';
    font-size: xx-large;
    text-align: center;
    justify-content: center;
}

.headersuporte a {
    text-decoration: none;
    color: #FFFFFF;
}

.headersuporte :hover {
    cursor: pointer;
}

.headerbarra2 {
    top: 0px;
    right: 0;
    width: auto;
    height: 120px;
    margin-left: 35%;
    display: flex;
    align-items: center;
}

.headerlogin{
    margin-top: 5px;
    margin-left: 40px;
}

.headerlogin a {
    margin-left: 10px;
    color: #FFFFFF;
    font-family: 'Raleway';
}

.headercarrinho img {
    margin-right: 19px;
    height: 20px;
    width: 20px;
}

.headercarrinho a {
    margin-left: 22px;
    text-align: center;
    font-family: 'Raleway';
    font-size: x-large;
    color: #FFFFFF;
}

.headercarrinho p {
    margin-left: 22px;
    text-align: center;
    font-family: 'Raleway';
    font-size: x-large;
    color: #FFFFFF;
}

.headercarrinho {
    display: flex;
    border-radius: 12px;
    width: 140px;
    height: 30px;
    margin-left: 60px;
    margin-top: 5px;
    background: linear-gradient(270deg, #2CBF67 0%, #174D2C 37.08%);
    border: 1px solid #2CBF67;
    justify-content: space-between;
    align-items: center;
}

.headercarrinho p {
    font-size: large;
}

.headerbarra3 {
    right: 20%;
    position: fixed;
    top: 5px;
    height: 35px;
    align-content: center;
}

.headerbarra3 a {
    text-decoration: none;
    cursor: pointer;
}

.headerlogin a :hover {
    cursor: pointer;
}

.headerbarra a:hover {
    text-decoration: underline; 
}

/* Fim do header ------------------------------------------------------------------------------------------------------------------------------- */

body{
    margin: 0;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 0%, #7AFD80 100%);
    padding: 0;
}   

.main {
    display: flex;
    flex-direction: row-reverse;
}

.logo {
    height: fit-content;
    width: fit-content;
    padding-right: 9vw;
    padding-top: 80px;
}

.logo img {
    zoom: 0.5;
}

.text {
    margin-left: 9vw;
    margin-right: 4vw;
    justify-content: center;
}

.text > p {
    font-size: large;
}

/* ________________________________________________________________________________________________________________ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

footer {
}

.footer {
  position: relative;
  margin-top: 100px;
  width: auto;
  background: black;
  min-height: 100px;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-wrap: nowrap;
  padding: 0;
}

.social-icon__item,
.menu__item {
  list-style: none;
  background-color:  black;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  background-color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  background-color:black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  text-align: center;
  color: #fff;
  background-color:black;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
