/* ---------------------------------STYLE DO PRODUTOS.HTML-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #7AFD80 100%);
}

/*--------------------------------------------HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.headerbarra {
    background-color: black;
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
}

.headerlogo {
    position: fixed;
    zoom: 0.239;
    left: 20%;
}

#headerprodutos {
    font-family: 'Raleway';
    color: white;
}

.headerprodutos {
    align-items: center;
        }
        ul{
            width: 150px; /* Tamanho da lista principal */
            /*margin: 0 auto;  Para centralizar na página */
            margin-left: auto;
            list-style: none;    
        }
        ul li{
            background-color: black;
        }
        ul li a{
            display: block; /* Renderiza o elemento HTML como bloco, tal como os parágrafos e os cabeçalhos o são */
            padding: 10px;
            text-decoration: none;
            color: white;
            font-size: xx-large;
        }
        ul li:hover > a{ /* Quando passarmos o mouse sobre a LI colocamos estilo no A */
            border-radius: 12px;
            color: white;
        }

        ul li ul{
            display: none;
            position: absolute;
        }

        ul li:hover ul{ /* Quando passar o mouse sobre a LI aparecerá o menu filho */
            width: 180px; /* Tamanho do menu filho */
            display: block; 
        }
        ul li ul li{
            width: 180px;
            cursor: pointer;
        }
        ul li ul li a{
            font-size: large;
            text-align: center;
            font-family: 'Raleway';
        }
        ul li ul li:hover > a{
            background-color: #04a243;
            border-radius: 12px;
            color: #FFFFFF;
            font-size: larger;
        }
        ul li ul li ul li{
            display: none;
        }

        ul li ul li ul{
            top: 0; /* Para deixar o sub-menu na mesma linha do menu pai */
        }
        ul li ul li:hover ul li{
            display: block;
            width: 130px;
            left: 77.8%; /* Para deixar o sub-menu ao lado do menu pai */
        }

#headertenis {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.headersobre {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-size: xx-large;
    width: 150px;
    text-align: center;
}

.headersobre a {
    text-decoration: none;
    color: #FFFFFF;
}

.headersobre :hover {
    cursor: pointer;
}

.headersuporte {
    font-family: 'Raleway';
    font-size: xx-large;
    width: 150px;
    text-align: center;
}

.headersuporte a {
    text-decoration: none;
    color: #FFFFFF;
}

.headersuporte :hover {
    cursor: pointer;
}

.headerbarra2 {
    top: 0px;
    right: 0;
    width: auto;
    height: 120px;
    margin-left: 35%;
    display: flex;
    align-items: center;
}

.headerlogin{
    margin-top: 5px;
    margin-left: 40px;
}

.headerlogin a {
    margin-left: 10px;
    color: #FFFFFF;
    font-family: 'Raleway';
}

.headercarrinho img {
    margin-right: 19px;
    height: 30px;
    width: 30px;
}

.headercarrinho a {
    margin-left: 22px;
    text-align: center;
    font-family: 'Raleway';
    font-size: x-large;
    color: #FFFFFF;
}

.headercarrinho p {
    margin-left: 22px;
    text-align: center;
    font-family: 'Raleway';
    font-size: x-large;
    color: #FFFFFF;
}

.headercarrinho {
    display: flex;
    border-radius: 12px;
    width: 170px;
    margin-left: auto;
    margin-top: 5px;
    background: linear-gradient(270deg, #2CBF67 0%, #174D2C 37.08%);
    border: 1px solid #2CBF67;
    justify-content: space-between;
    align-items: center;
}

.headerbarra3 {
    height: 35px;
    align-content: center;
}

.headerbarra3 a {
    text-decoration: none;
    cursor: pointer;
}

.headerlogin a :hover {
    cursor: pointer;
}

/* Fim do header ------------------------------------------------------------------------------------------------------------------------------- */

#titulo {
    margin-top: 0px;
    margin-bottom: 0;
    font-family: 'Raleway';
    font-size: xx-large;
}

#ver-mais {
    margin-top: -40px;
}

.main-div {
    margin-top:150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 9vw;
    padding-right: 9vw;
    
}

/* Div das colunas */
.coluna1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

/* Div dos produtos */
.produto {
    font-size: small;
    font-weight: bolder;
    width: 17.3vw;
    height: auto;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1.5px solid;
    border-color: #000000;
    border-radius: 13px;
    background-color: #FFFFFF;
}

.produto img {
    margin-top: 20px;
}

a {
    text-decoration: none; 
    color: #000000; /* Define a cor desejada para os links não visitados */ 
} 

a:hover { 
    text-decoration: underline; 
    color: #ff0000; /* Define a cor desejada para os links ao passar o mouse */ 
}

.produto > a > p{
    min-height: 40px;
    font-size: 2.5vh;
}

.produto > a > img {
    width: 12vw;
    height: 12vw;
}

#preco {
    font-size: 3vh;
    color: white;
    font-weight: 400;
    width: 130px;
    background: linear-gradient(270deg, #2CBF67 0%, #174D2C 37.08%);
    mix-blend-mode: normal;
    border: 1px solid #2CBF67;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #2CBF67;
}

#preco:hover {
    zoom: 1.2;
    transition: zoom 0.75;
}
