body{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    margin: 100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: gray;

}   

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #ffffff;
  
  }
.container {
    display: flex;
}

.barra{
    flex: 1;
    height: 2px;
    background-color: black;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}

.barra {
    height: 2px;
    background-color: black;
}