body {
  background-image: url('img/fotofundo.jpeg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
  margin: 150px auto;
  padding: 20px;
  border-radius: 5px;
  color: white; 
}

.container h1 {
  text-align: center;
  color: #ffffff;
}


.container [type="text"],
.container input[type="password"]{
  width: 93%;
  padding: 10px;
  color: #000000;
  margin-bottom: 10px;
  border-radius: 10px;
   border: 1px solid #ccc;
   background-color: #ffffff3c; 
  }

.container input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.container .forgot-password {
  text-align: center;
  margin-top: 10px;
}

.container .forgot-password a {
  color: white
}

.container p {
  text-align: center;
  color: #ffffff;
}
input::placeholder {
  color: rgb(0, 0, 0); /* Altere para a cor desejada */
}

