
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("img/fotofundo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #ff0000(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.login-form h2 {
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #000000;
}